body * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* FIRST SECTION -------------------------------------------- */

.first-section {
    background-color: #ffcc00;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 280px 1fr 150px;
    grid-template-columns: 280px 1fr 50%;
    grid-template-areas: "logo . play" 
                         ". . play" 
                         "info . play";
    
                          
}




   /* in logo img abbiamo messo il padding per centrare l'elemento e width 100% per fare prendere all'img tutto lo spazio disponibile nella sua grid */

.logo-img {
    padding: 32px;
    width: 100%; 
    grid-area: logo;
}

.play-btn{
grid-area: play;
height: 100%;
max-width: 100%;
}

.play-info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.label{
    text-transform: uppercase;
}

.artist{
   font-weight: bold;
   font-size: xx-large;
   margin-top: 8px;
}

.song{
   font-size: large;
}

@media (max-width: 768px) {
 .first-section{
    grid-template-columns: 100%;
    grid-template-rows: 280px 1fr 150px;
    grid-template-areas: "logo" "play" "info"; 
 }
 .play-btn{
    padding: 32px;
 }
 .logo-img{
    max-width: 280px;
 }
}

.second-section {
    background-color: #660099;
}

.third-section {
    background-color: #ffcc00;
    

}




.fourth-section {
    background-color: #660099;
}

/* fifth section, 3 colonne e 6 righe */

.fifth-section {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "title title circle" 
                         ". . p1" 
                         "p2 p3 ." 
                         ". p4 ." 
                         ". . p5" 
                         "p6 p7 .";
    gap: 32px;
}



.day{
font-size: 100px;
margin: 0px;
}

.row{
    border-bottom: 1px solid grey;
    padding: 32px;
}

.p1{
    grid-area: p1;
}

.p2{
    grid-area: p2;
}

.p3{
    grid-area: p3;
}

.p4{
    grid-area: p4;
}

.p5{
    grid-area: p5;
}

.p6{
    grid-area: p6;
}

.p7{
    grid-area: p7;
}


.title{
    grid-area: title;
    font-weight: bold;
    font-size: 164px;
    margin: 0px;
    padding: 32px;
    
}

.circle{
    grid-area: circle;
    background-color: black;
    height: 164px;
    width: 164px;
    border-radius: 82px;
    padding: 32px;
    margin: 32px;
    justify-self: end;
}
@media (max-width: 768px) {
    .fifth-section {
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 100%;
        grid-template-areas: "title" "p1" "p2" "p3" "p4" "p5" "p6" "p7" "p8";
        
    }
    .title{
        font-size: 110px;
    }
}

.sixth-section {
    background-color: #ffcc00;
}

.seventh-section {
    background-color: #0099ff;
}

.height-section {
    background-color: #660099;
}

.ninth-section {
    background-color: #ffcc00;
}


/* LAST SECTION -------------------------------------------- */

.last-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.mouth {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 50vw;
    height: 50vh;
    background-color: #660099;
}

.arrow {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    background-color: #ff3333;
}

@media (max-width: 768px) {
    .last-section {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    .mouth {
        width: 100vw;
        height: 100vh;

    }

    .arrow {
        width: 100vw;
        height: 100vh;

    }

}

.img-mouth {
    width: 40%;
}

.img-arrow {
    width: 60%;
}

/* una grid per ognuna delle sezioni

fare una sezione alla volta  */