body * {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.first-section {
    background-color: #ffcc00;
    width: auto;
    height: auto;
    display: grid;
   
    
                          
}

.logo-song{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo . play-button"
                         "song-player . play-button"
                         "song-artist . play-button"
                         "song-title . play-button";
}

.logo {
    width: 250px;
    grid-area: logo;
}

.song-player {

    justify-self: left;
    align-self: flex-end;
    grid-area: song-player;
    font-size: 15px;

}

.song-artist {
    font-size: 40px;
    grid-area: song-artist;
    font-weight: bold;
    align-self: end;
    justify-self: auto;
}

.song-title{
    font-size: 30px;
    grid-area: song-title;
}

.play-button {
   justify-self: self-end;
    grid-area: play-button;
    
    
    
}

.second-section {
    background-color: #660099;
}

.third-section {
    background-color: #ffcc00;
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: auto;

}

.title-big{
    font-weight: bold;
    margin: 0;
    font-size: 150px;
}

.fourth-section {
    background-color: #660099;
}

.fifth-section {
    background-color: white;
}

.sixth-section {
    background-color: #ffcc00;
}

.seventh-section {
    background-color: #0099ff;
}

.height-section {
    background-color: #660099;
}

.ninth-section {
    background-color: #ffcc00;
}


.last-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.mouth {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 50vw;
    height: 50vh;
    background-color: #660099;
}

.arrow {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    background-color: #ff3333;
}

@media (max-width: 768px) {
    .last-section {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    .mouth {
        width: 100vw;
        height: 100vh;

    }

    .arrow {
        width: 100vw;
        height: 100vh;

    }

}

.img-mouth {
    width: 40%;
}

.img-arrow {
    width: 60%;
}

/* una grid per ognuna delle sezioni

fare una sezione alla volta  */