body *{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.first-section{
background-color: #ffcc00;
width: 100vw;
height: 100vh;
}

.last-section{
display: grid;
grid-template-rows: auto;
grid-template-columns: auto auto;
}

.mouth{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 50vw;
    height: 50vh;
    background-color: #660099;
}

.arrow{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    background-color:#ff3333;
}

@media (max-width: 768px) {
    .last-section{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        }
        
        .mouth{
            width: 100vw;
            height: 100vh;
           
        }
        
        .arrow{
            width: 100vw;
            height: 100vh;
          
        }
        
}

.img-mouth{
    width: 40%;
}

.img-arrow{
    width: 60%;
}

/* una grid per ognuna delle sezioni

fare una sezione alla volta 

*/